<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
1、Mapper.xml文件中的namespace与mapper接口的类路径相同。
2、Mapper接口方法名和Mapper.xml中定义的每个statement的id相同
3、Mapper接口方法的输入参数类型和mapper.xml中定义的每个sql 的parameterType的类型相同
4、Mapper接口方法的输出参数类型和mapper.xml中定义的每个sql的resultType的类型相同
5、接口与xml文件必同名，而且在同一个路径下
-->

<mapper namespace="com.test.dao.OrderRecordMapper">
	
	<select id="getAllOrderByStatus" resultType="com.test.entity.OrderRecord">
		select * from orderRecord where status = #{status}
	</select>
	
	<select id="getOrderByUid" resultType="com.test.entity.OrderRecord">
		select * from orderRecord where uid = #{uid}
	</select>
	
	<insert id="insertOrder" parameterType="com.test.entity.OrderRecord">
		insert into orderRecord(uid,did,place,status,number) values(#{uid},#{did},#{place},0,#{number})
	</insert>
	
	<update id="updateOrder" parameterType="com.test.entity.OrderRecord">
		update orderRecord set name=#{name},aid=#{aid},preTime=#{preTime},status=1 where oid = #{oid}
	</update>
	
	<update id="finishOrder" parameterType="com.test.entity.OrderRecord">
		update orderRecord set endTime=#{endTime},status=2 where oid = #{oid}
	</update>
</mapper>